
    <head>
        <link href="~/css/main.css" rel="stylesheet" />
    </head>



        <div>

        </div>

        <body>
            <div class="Shit">
                <p>Shieeet</p>
            </div>
            

        </body>